// font
$font12: 12px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font20: 20px;

// bg
$bgColor: #2A3259;
$fontColor: #fff;
$font: $font14;

// bar
$barColor: #1F2438;
$barFontColor: #fff;
$barFont: $font14;
$barLiBgColor: rgba(90,106,223, .3);
$barLiBorColor: #5868DB;

// content
$conColor: #2A2F42;
$conFontColor: #fff;
$conFont: $font14;


