// font
$font12: 12px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font20: 20px;

// color
$color: #fff;
$color2: #333;

// left
$logoColor: #3C444D;
$barColor: #353D44;
$barFontColor: $color;
$barFont: $font14;
$barLiBgColor: #2C3138;
$barLiBorColor: #bda29a;

// right
$conBarColor: $color;
$conBarFontColor: $color2;
$conBarFont: $font14;
$conColor: #F2F2F2;
$conFontColor: $color2;
$conFont: $font14;

// divAll
@mixin divAll{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}


// divCon
@mixin divCon{
  width: 100%;
  height: 100%;
  // padding: 20px;
}



