@import 'ad_variables.scss';
.ad-app {
    width: 100%;
    height: 100%;
    background-color: $bgColor;
    color: $color;
    font-size: $font14;
    .ad-nav{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1001;
      width: 200px;
      height: 100%;
      color: $barFontColor;
      text-align: left;
      .ad-nav-logo{
        height: 50px;
        line-height: 50px;
        font-size: $barFont;
        background-color: $logoBgColor;
        text-align: center;
      }
      .ad-nav-con{
        height: calc(100% - 50px);
        background-color: $barColor;
      }
    }
    .ad-con{
      display: block;
      margin-left: 200px;
      height: 100%;
      color: $conFontColor;
      .ad-con-logo{
        height: 50px;
        line-height: 50px;
        background-color: $barColor;
        color: $barFontColor;
        text-align: left;
        padding: 0 20px;
        .ad-con-fold{
          i{
            line-height: 50px;
            font-size: 30px;
            font-weight: normal;
          }
        }
      }
      .ad-con-con{
        height: calc(100% - 50px);
        overflow: auto;
        //background-color: $bgColor;
      }
    }
  }

.el-menu{
  background-color: $barColor !important;
  border-right: none !important;
  // el-submenu is-active is-opened
  .el-submenu{
    // color: $barFontColor;
    // font-size: $barFont;
    .el-submenu__title{
      i, span{
        color: $barFontColor;
        font-size: $barFont;
      }
    }
  }
  .el-menu-item, .el-submenu__title{
    color: $barFontColor;
    font-size: $barFont;
    .ad-link{

    }
    &:focus, &:hover{
      background-color: $barLiBgColor;
      border-right: 3px solid $barLiBorColor;
    }
    &.is-active{
      color: $barFontColor;
      font-size: $barFont;
    }
  }
}


.ad-chart{
  position: relative;
  height: 100%;
  .ad-chart-line, .ad-chart-column{
    height: 100%;
    padding: 40px 0;
  }
}

